.carousel img{
  margin: 0px 20px;
}
.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 50px;
  }
  
  .slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }
  
  .slide-hidden {
    display: none;
  }
  
  .arrow {
    position: absolute;
    filter: drop-shadow(0px 0px 5px #555);
    width: 2rem;
    height: 2rem;
    color: white;
  }
  
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrow-left {
    left: 1rem;
    transition: .5s;
  }
  
  .arrow-right {
    right: 1rem;
    transition: .5s;
  }
  
  .indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;
  }
  
  .indicator {
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
  }
  
  .indicator-inactive {
    background-color: grey;
  }
  .arrow-left:hover{
    transform: translateX(-5px);
  }
  .arrow-right:hover {
    transform: translateX(5px);
  }